body{
  border: 10px solid pink;
  padding: 5px;
  font-family: georgia
}

h3{
  text-decoration: underline;
}

h4 {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align:center;
  background-color: #dddd
}

h5{
 background-color: pink;
   text-align: center;
}

img{
  width:100%;
  padding: 5px;
}

.header{
  text-align: center;
  text-decoration: underline;
  border: 5px dotted pink;
  background-color: #dddd;
}

.contact-info{
  text-align: center;
  border: 5px dotted pink;
  background-color: #dddd;
}

.footer{
  background-color: #dddd;
}
